body{
    background-image: url(../img/hero-bg.jpg)
}
#mata{
    background-color:greenyellow;
}
#moto{
    background-image: url(../img/images\ \(2\).jpeg)
}
#con{
    background-image: url(../img/bmw-1313343_1280.jpg)
}
#new{
    background-color: teal;
}